<div class="container section">
  <section>
    <div class="heading">
      <div class="name">
        <div class="count">02.</div>
        <div class="name">Some Projects I’ve Built</div>
      </div>
      <div class="line"></div>
    </div>

    <div class="content">
      <div class="projects">
        <div class="project">
          <div class="image">
            <div class="overlay"></div>
            <img src="https://bit.ly/37tmGmR" alt="" />
          </div>
          <div class="about">
            <div class="featured">Featured Project</div>
            <div class="name">Fanatic</div>
            <div class="description">
              A nicer look at your GitHub profile and repository stats with data
              visualizations of your top languages and stars. Sort through your
              top repos by number of stars, forks, and size.
            </div>
            <div class="technologies">
              <div class="technology">Angular</div>
            </div>
            <div class="urls">
              <div class="github"></div>
              <div class="external"></div>
            </div>
          </div>
        </div>
        <div class="project reverse">
          <div class="image">
            <div class="overlay"></div>
            <img src="https://bit.ly/37tmGmR" alt="" />
          </div>
          <div class="about">
            <div class="featured">Featured Project</div>
            <div class="name">Fanatic</div>
            <div class="description">
              A nicer look at your GitHub profile and repository stats with data
              visualizations of your top languages and stars. Sort through your
              top repos by number of stars, forks, and size.
            </div>
            <div class="technologies">
              <div class="technology">Angular</div>
            </div>
            <div class="urls">
              <div class="github"></div>
              <div class="external"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
