@media (max-width: 900px) {
  .container {
    section {
      .content {
        .projects {
          margin-bottom: 3rem;

          .project {
            flex-direction: column;
            margin-bottom: 3rem;

            &.reverse {
              flex-direction: column;
            }

            .about {
              margin-left: 0;
              margin-right: 0;
              align-items: flex-start;

              .featured {
                margin-top: 1rem;
              }

              .description {
                background: none;
                padding: 0;
                box-shadow: none;
                margin-top: 0.5rem;
              }

              .technologies {
                .technology {
                  margin-left: 0;
                  margin-right: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
