<div class="container section">
  <section #section>
    <p id="name-head" #nameHead>Hi, my name is</p>
    <h1 id="name" #name>Yogesh Aggarwal.</h1>
    <h1 id="teaser" #teaser>I'm used to crafting loving softwares.</h1>
    <p id="description" #description>
      I'm a software engineer based in New Delhi, India specializing in building
      exceptional websites, applications, and make people (users) smile. I love
      to develop softwares that're challenging & fruitful to the users.
    </p>

    <div class="socials" #socials>
      <div class="social">
        <a [href]="dataService.social.github" target="_blank">
          <i class="lab la-github"></i>
        </a>
      </div>
      <div class="social">
        <a [href]="dataService.social.twitter" target="_blank">
          <i class="lab la-twitter"></i>
        </a>
      </div>
      <div class="social">
        <a [href]="dataService.social.facebook" target="_blank">
          <i class="lab la-facebook-f"></i>
        </a>
      </div>
      <div class="social">
        <a [href]="dataService.social.instagram" target="_blank">
          <i class="lab la-instagram"></i>
        </a>
      </div>
      <div class="social">
        <a [href]="dataService.social.linkedin" target="_blank">
          <i class="lab la-linkedin-in"></i>
        </a>
      </div>
      <div class="social">
        <a [href]="['mailto:', dataService.email]" target="_blank">
          <i class="las la-envelope"></i>
        </a>
      </div>
    </div>
    <a [href]="['mailto:', dataService.email]" #cta>
      <button>Get In Touch</button>
    </a>
  </section>
</div>
