<div class="container section">
  <section>
    <div class="heading">
      <div class="name">
        <div class="count">03.</div>
        <div class="name">What's Next?</div>
      </div>
      <div class="line"></div>
    </div>
    <div class="content">
      <div class="heading">Get In Touch</div>
      <div class="description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dolorem
        corporis necessitatibus optio, blanditiis temporibus dicta, soluta
        similique omnis vel odio natus possimus impedit id fugit quae quasi
        earum quo!
      </div>
      <a [href]="['mailto:', dataService.email]">
        <button>Say Hello</button>
      </a>
    </div>
  </section>
</div>
