<div class="container section">
  <section>
    <div class="heading">
      <div class="name">
        <div class="count">03.</div>
        <div class="name">What's Next?</div>
      </div>
      <div class="line"></div>
    </div>
    <div class="content">
      <div class="heading">Get In Touch</div>
      <div class="description">
        A warm-welcome to everyone whoever wants to interact. Wheather or not
        you're planning for a business, just say a "Hi". And if you're planning
        for buisness, you're most welcome! Just text me & get involved in the
        process of development.
      </div>
      <a [href]="['mailto:', dataService.email]">
        <button>Say Hello</button>
      </a>
    </div>
  </section>
</div>
