@import "../../theme";
@import "../../tools";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  height: $navbar-height;
  backdrop-filter: blur(10px);

  @include center();
  justify-content: space-between;

  .logo {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  .actions {
    @include center();

    .routes {
      @include center();

      .route {
        @include center();
        margin-right: 2rem;
        cursor: pointer;

        * {
          font-size: 1.1rem;
        }

        .count {
          color: $primary;
        }

        .name {
          letter-spacing: 2px;
        }
      }
    }
  }
}
