@import "../../theme";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  height: $navbar-height;
  backdrop-filter: blur(10px);

  display: flex;
  align-items: center;
}
