@import "../../theme";
@import "../../tools";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  height: $navbar-height;
  backdrop-filter: blur(10px);
  box-shadow: $box-shadow;
  background: rgba($color: $background, $alpha: 0.6);
  z-index: 1e3;

  @include center();
  justify-content: space-between;

  .logo {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }

  .actions {
    @include center();

    .routes {
      @include center();

      .route {
        @include center();
        margin-right: 2rem;
        cursor: pointer;

        .count {
          color: $primary;
          margin-right: 5px;
        }

        .name {
          letter-spacing: 2px;
        }
      }
    }
  }
}
