@import "../../../tools";

@media (max-width: 1100px) {
  .container {
    section {
      .content {
        @include center();
        gap: 2rem;
        flex-direction: column-reverse;

        .profile {
          height: 3in;
          width: 3in;
        }

        .about {
          .technologies {
            gap: .5rem;
            grid-template-columns: repeat(1, minmax(5rem, 1fr));
          }
        }
      }
    }
  }
}
